<div class="container">
    
    <div class="row justify-content-center">
        @if(!this.hideButtons){
            <div class="col-md-10">
                <h2 class="label">Administrar usuarios</h2>
                <!-- Imagen para registrar Empresa -->
                <div class="my-3">
                  <a (click)="mostrarFormulario('usuarios')">
                    <img
                      src="assets/images/usersmgnt.png"
                      alt="Registro de Artesano"
                      class="img-fluid"
                    />
                  </a>
                </div>
                <!-- Imagen para registrar Comunidad -->
                <h2 class="label">Administrar delivery</h2>
                <div class="my-3">
                  <a (click)="showOpciones()">
                    <img
                      src="assets/images/delivery.jpg"
                      alt="Registro de Comunidad"
                      class="img-fluid"
                    />
                  </a>
                </div>
                <!-- Imagen para administrar los pedidos -->
                <h2 class="label">Administrar pedidos</h2>
                <div class="my-3">
                  <a (click)="mostrarFormulario('pedidos')">
                    <img
                      src="assets/images/pedidosadm.png"
                      alt="Registro de Comunidad"
                      class="img-fluid"
                    />
                  </a>
                </div>
              </div>
        }
      
    </div>

    @if (this.opciones) {
        <div>
          <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
          <h3>Que operacion desea realizar?</h3>
          <div class="buttons-display">
            <button type="button" class="btn btn-warning mt-3" (click)="mostrarFormulario('aprobarD')">Aprobar delivery</button>
            <button type="button" class="btn btn-warning mt-3" (click)="mostrarFormulario('listarD')">Ver deliverys</button>
          </div>
        </div>
      }
  
    <!-- Formulario para registrar Artesano -->
    <div *ngIf="formularioActual === 'usuarios'" class="mt-5">
        <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
        <h3>Listado de Usuarios</h3>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Username</th>
                <th>Email</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.nombre }} {{ usuario.paterno }} {{ usuario.materno }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteUsuario(usuario.id_usuario)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
         
    </div>
  
    <!-- Formulario para registrar Comunidad -->
    <div *ngIf="formularioActual === 'aprobarD'" class="mt-5">
        <button type="button" class="btn btn-warning mt-3" (click)="showButtons()" >Volver</button>
      
      <h3>Listado de Deliverys</h3>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Username</th>
                <th>Email</th>
                <th>Contrato</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuariosDelivery">
                <td>{{ usuario.nombre }} {{ usuario.paterno }} {{ usuario.materno }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                  @if(!isUpload){

                    <p>Archivos soportados: PDF, DOCX</p>
                    <input #documento id="documento" type="file" hidden accept=".doc,.docx,.pdf" (change)="onFileSelected($event)" style="display:none;">
                    <button class="btn-file" (click)="triggerFileInput()">Subir contrato</button>
              
                    
                  }@else {
                    <div>
                      <h3 style="color: rgb(2, 6, 8);">Archivo subido!</h3>
                    </div>
                  }
                </td>
                <td>
                  <button class="btn btn-success" (click)="createDelivery(usuario.id_usuario)">Aprobar</button>
                  
                  <button class="btn btn-danger" (click)="deleteUsuario(usuario.id_usuario)">Eliminar</button>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
    </div>


    <!-- Tabla de deliverys contratados -->
     <div *ngIf="formularioActual === 'listarD'" class="mt-5">
      <button type="button" class="btn btn-warning mt-3" (click)="showButtons()" >Volver</button>
      
      <h3>Listado de Deliverys contratados</h3>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Estado</th>
                <th>Fecha inicio</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let delivery of deliveries">
                <td>{{ delivery.username }}</td>
                <td>{{ delivery.estado }}</td>
                <td>
                  {{ delivery.fecha_inicio }}
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
     </div>
  </div>
  


<!-- LISTADO DE SEGUIMIENTO DE PEDIDOS -->
<div *ngIf="formularioActual === 'pedidos'" class="container mt-5">
  <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
    
  <div class="container">
    <h2 class="my-4">Seguimiento de Pedidos</h2>
    <table class="table table-striped" style="background-color: rgb(221, 187, 113);">
      <thead class="thead-dark">
        <tr>
          <th>Producto</th>
          <th>Precion unit.</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido.nombre_producto }}</td>
          <td>{{ pedido.precio_unitario}}</td>
          <td>{{ pedido.cantidad }}</td>
          <td>
            <span 
              [ngClass]="{
                'badge badge-warning': pedido.estado === 'encurso',
                'badge badge-success': pedido.estado === 'entregado',
                'badge badge-primary': pedido.estado === 'asignado',
                'badge badge-secondary': pedido.estado === 'porasignar'
              }">
              {{ pedido.estado }}
            </span>
          </td>
          <td>
            <button 
            *ngIf="pedido.estado === 'porasignar'" 
            (click)="openAsignarDeliveryModal(pedido)" 
            data-bs-toggle="modal" data-bs-target="#asignarDeliveryModal"
            class="btn btn-sm btn-success">Asignar delivery</button>
            <!-- <button *ngIf="pedido.estado === 'porasignar' || pedido.estado=== 'asignado'" (click)="cancelarPedido(pedido.id_pedido)" class="btn btn-sm btn-danger">Cancelar</button> -->
            
            <!-- <button class="btn btn-primary btn-sm" (click)="openAsignarDeliveryModal(pedido.id_pedido)">Asignar Delivery</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal para asignar delivery -->
<app-asignar-delivery-modal class="modal fade"
[pedido]="pedidoSeleccionado"
id="asignarDeliveryModal" tabindex="-1"
aria-labelledby="asignarDeliveryModal"
aria-hidden="true"
(activar)="showButtons()"
></app-asignar-delivery-modal>