img {
    width: 30em;
    height: 10em;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  img:hover {
    transform: scale(1.05);
  }

.container{
    text-align: center;
}