
<div class="container">
    <div class="row justify-content-center">
        @if(!this.hideButtons){
            <div class="col-md-10">


              <!-- Imagen para registrar Comunidad -->
              <h2 class="label">Carrito de compra</h2>
              <div class="my-3">
                <a (click)="mostrarFormulario('carrito')">
                  <img
                    src="assets/images/carritocompra2.jpg"
                    alt="Registro de Comunidad"
                    class="img-fluid img-link"
                  />
                </a>
              </div>

              <h2 class="label">Seguimiento pedidos</h2>
                <!-- Imagen para registrar Empresa -->
                <div class="my-3">
                  <a (click)="mostrarFormulario('pedidos')">
                    <img
                      src="assets/images/seguimiento.jpg"
                      alt="Registro de Artesano"
                      class="img-fluid img-link"
                    />
                  </a>
                </div>


                <h2 class="label">Historial de compras</h2>
                <!-- Imagen para registrar Empresa -->
                <div class="my-3">
                  <a (click)="mostrarFormulario('historial')">
                    <img
                      src="assets/images/empresa1.png"
                      alt="Registro de Artesano"
                      class="img-fluid img-link"
                    />
                  </a>
                </div>
                
              </div>
        }
    </div>
</div>

<!-- FORMULARIO DEL CARRITO DE COMPRAS -->
<div *ngIf="formularioActual === 'carrito'" class="container mt-5">

  <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>

  <div *ngIf="productosCarrito.length === 0" class="alert alert-info">Tu carrito está vacío</div>
  <div *ngIf="productosCarrito.length > 0" class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Carrito de Compras</h2>
        <table class="table table-striped table-hover mt-3">
          <thead class="table-dark">
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Fotos</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productosCarrito">
              <td>{{ item.nombre_producto }}</td>
              <td>{{ item.precio + ' Bs' }}</td>
              <td>
                <input type="number" [(ngModel)]="item.cantidad" min="1" class="form-control" style="width: 70px;">
              </td>
              
              <td>{{ item.cantidad * item.precio + ' Bs' }}</td>
              <td>
                <!-- Carousel de imágenes -->
                <div id="carousel{{ item.id_producto }}" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div *ngFor="let foto of item.fotos; let i = index" class="carousel-item" [class.active]="i === 0">
                      <img [src]="foto" class="d-block w-100 img-thumbnail" alt="foto producto" style="max-width: 150px; height: 150px;">
                    </div>
                  </div>
                  <!-- Controles de siguiente/anterior -->
                  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + item.id_producto" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + item.id_producto" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="eliminarProducto(item.id_producto)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Mostrar el total del carrito -->
      <div *ngIf="productosCarrito.length > 0" class="text-end mt-3">
        <h4>Total del Carrito: {{ total + ' Bs' }}</h4>
        <button class="btn btn-success" (click)="confirmarPedido()">Confirmar Pedido</button>
        <br>
      </div>
      <br>
      </div>
      <!-- Información de Ubicación -->
    <h4 style="color: aliceblue; background-color: black; border-radius: 10px;">Información de Ubicación</h4>
    <google-map height="450px"
                width="600px"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
      <map-marker *ngFor="let marker of markers"
              [position]="marker.position || { lat: 0, lng: 0 }"
              [label]="marker.label || ''"
              [title]="marker.title ?? ''"
              >
      </map-marker>
    </google-map>
    <div> Latitude: {{display?.lat}}</div>
    <div> Longitud: {{display?.lng}}</div>
    <button type="button" class="btn btn-info mt-3" (click)="obtenerUbicacion()">
      Obtener Ubicación Actual
    </button>
    </div>
  </div>
</div>

<!-- FORMULARIO DE HISTORIAL DE COMPRAS -->
<div *ngIf="formularioActual === 'historial'" class="container mt-5">
    <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
    <h2>Historial de Compras</h2>

  <div *ngIf="historial.length > 0; else noCompras">
    <div *ngFor="let pedido of historial" class="card mb-3">
      <div class="card-header">
        <strong>Pedido #{{ pedido.id_pedido }}</strong> - Fecha: {{ pedido.fecha_pedido | date:'short' }} - Total: {{ pedido.total | currency }}
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of pedido.productos">
              <td>{{ producto.nombre_producto }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio_unitario | currency }}</td>
              <td>{{ producto.cantidad * producto.precio_unitario | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #noCompras>
    <div class="alert alert-info">No has realizado ninguna compra todavía.</div>
  </ng-template>
</div>

<!-- LISTADO DE SEGUIMIENTO DE PEDIDOS -->
<div *ngIf="formularioActual === 'pedidos'" class="container mt-5">
  <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
    
  <div class="container">
    <h2 class="my-4">Seguimiento de Pedidos</h2>
    <table class="table table-striped" style="background-color: rgb(221, 187, 113);">
      <thead class="thead-dark">
        <tr>
          <th>Producto</th>
          <th>Precio U.</th>
          <th>Cantidad</th>
          <th>Cel. Delivery</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido.nombre_producto }}</td>
          <td>{{ pedido.precio_unitario}}</td>
          <td>{{ pedido.cantidad }}</td>
          <td>{{ pedido.telefono }}</td>
          <td>
            <span 
              [ngClass]="{
                'badge badge-warning': pedido.estado === 'encurso',
                'badge badge-success': pedido.estado === 'entregado',
                'badge badge-primary': pedido.estado === 'asignado',
                'badge badge-secondary': pedido.estado === 'porasignar'
              }">
              {{ pedido.estado }}
            </span>
          </td>
          <td>
            <button *ngIf="pedido.estado === 'encurso'" (click)="confirmarEntrega(pedido.id_pedido)" class="btn btn-sm btn-success">Confirmar Entrega</button>
            <button *ngIf="pedido.estado === 'porasignar' || pedido.estado=== 'asignado'" (click)="cancelarPedido(pedido.id_pedido)" class="btn btn-sm btn-danger">Cancelar</button>
            <button *ngIf="pedido.estado === 'encurso'" (click)="cancelarPedido(pedido.id_pedido)" class="btn btn-sm btn-danger">Devolver</button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>